In [ ]:
num1=5
num2=10
sum=num1+num2

In [7]:
Name=str(input ("Name: "))
TotalNumberoffamily=int(input("Total number of family: "))
Age=int(input("Age: "))

Name: Lux
Total number of family: 4
Age: 25

In [9]:
Number1=int(input("Number 1: "))
Number2=int(input("Number 2: "))
print(Number1*Number2)

Number 1: 6728937883
Number 2: 526726181287891271278
3544307755236017304487564024474