In [ ]:
rvard

In [2]:
Name=str(input("Name "))
Country=str(input("Country "))
University_Name=str(input("University Name "))
AgeAbove18Years=bool(input("Age Above 18 Years "))

Name Lux
Country UK
University Name Havard
Age Above 18 Years yes

In [6]:
Numb1=int(input("4" ))
Numb2=int(input("2" ))
print(Numb1+Numb2)

4436637
25262727
5699364

In [7]:
print(Numb1*Numb2)

2297901329099

In [8]:
print(Numb1/Numb2)

0.08296782257563427

In [9]:
print(Numb1-Numb2)

-4826090

In [13]:
Numb1 -= Numb2
print(Numb1)

-4826090